body {
    background-color: black;
    background-image: url("src/solargraphe_background2.png");
    background-position: initial;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    margin: 0;
}


.projects-links a, b, .english-link a {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    margin-top: 5px;
    text-decoration: none;
}



.projects-links a:hover {
    font-style: italic;
}


.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /*margin-top: 100px;*/
    /*overflow: auto;*/
    align-items: center;
}

.projects-links {
    display: flex;
    float: left;
  /*  position: relative;
    left: 214px;
    top: 200px;
    */
    margin: 200px 0px 0px 200px;
    flex-direction: column;
}

.fr-solo {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.fr-duo {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    width: 100%;
}


.image-landing-page {
    max-width: 70%;
}

.image-en {
    max-width: 70%;
}


@media screen and (max-width: 768px) {
    .flex-container {
        flex-direction: column;

    }

 /*   .projects-links {

    }*/
}