html, body {
    height: 100vh;
    overflow: auto;
}

body {
    background-color: black;
    background-image: url("src/solargraphe_background3.png");
    background-position: initial;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

footer {
    color: rgba(248, 212, 180, 0.76);
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    font-size: 70%;
    font-weight: 300;
    margin-top: auto;
    margin-left: 1%;
}

.flex-container .bolder {
    font-weight: 550;
}

.flex-container .bigger {
    font-size: 18px;
    color: #ffddbb;
}

.flex-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    /*overflow: auto;*/
}

.flex-container a, .fr-solo b, .fr-duo b {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    margin-top: 9px;
    text-decoration: none;
}

.fr-links a:hover, .en-links a:hover, .english-link a:hover, .french-link a:hover {
    font-style: italic;
}

.fr-links em:hover, .en-links em:hover {
    font-style: normal;
}

.fr-links, .en-links {
    display: flex;
    float: left;
    flex-direction: column;
    position: relative;
    left: 25%;
}

.fr-solo, .fr-duo {
    display: flex;
    flex-direction: column;
}

.fr-duo {
    margin-top: 50px;
}

.fr-solo > b:first-child, .fr-duo > b:first-child {
    margin-bottom: 7px;
    margin-top: 0;
}

.english-link, .french-link {
    display: flex;
    float: left;
    flex-direction: column;
    position: relative;
    top: 22%;
    left: 39%;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    text-decoration: none;
}

.fr-solo .orange-light, .fr-duo .orange-light {
    color: #f8d4b4;
}

.flex-container .orange-darker {
    /*color: #ffb875;*/
    /*color: #ffd9b4;*/
    color: #feca96;
}


@media screen and (max-width: 768px) {
    html, body {
        min-height: 100vh;
        /*overflow: auto;*/
    }
    .flex-container {
        flex-direction: column;

    }

    /*   .fr-links {

       }*/
}