html, body {
    min-height: 100vh;
    overflow: auto;
}

body {
    background-color: black;
    background-image: url("src/solargraphe_background3.png");
    background-position: initial;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
}

b {
    font-weight: 500;
}

.flex-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    /*overflow: auto;*/
}

.flex-container a, .fr-solo b, .fr-duo b {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1.1em;
    margin-top: 7px;
    text-decoration: none;
}

.fr-links a:hover, .en-links a:hover {
    font-style: italic;
}

.fr-links em:hover, .en-links em:hover {
    font-style: normal; 
}

.fr-links, .en-links {
    display: flex;
    float: left;
    flex-direction: column;
    position: relative;
    left: 20%;
}

.fr-solo, .fr-duo {
    display: flex;
    flex-direction: column;
}

.fr-duo {
    margin-top: 30px;
}

.fr-solo > b:first-child, .fr-duo > b:first-child{
    margin-bottom: 11px;
    margin-top: 0;
}

.english-link, .french-link  {
    display: flex;
    float: left;
    flex-direction: column;
    position: relative;
    top: 22%;
    left: 39%;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    text-decoration: none;
}

.fr-solo .orange-light, .fr-duo .orange-light {
    color: #f8d4b4;
}

.fr-solo .orange-darker, .en-links .orange-darker {
    color: #ffb875;
}


@media screen and (max-width: 768px) {
    .flex-container {
        flex-direction: column;

    }

 /*   .fr-links {

    }*/
}